@import url(https://fonts.googleapis.com/css2?family=Gravitas+One&family=Merriweather:ital@0;1&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

.App {
  text-align: center;
  height: 200vh;
  background-color: #3d9074;
}

.side-text {
  font-family: 'Limelight', cursive;
  color: #1e5945;
}

.plant-name {
  font-family: 'Limelight', cursive;
  color: #f7b98c;
}

.card-text {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.cart-text {
  font-family: 'Limelight', cursive;
  color: #f7b98c;
}

h1 {
  font-family: 'Limelight', cursive;
  font-style: bold;
  font-weight: 400;
  background-color: #1e5945;
  text-align: center;
  margin: 0;
  height: 60px;
  padding-top: 20px;
  color: #f7b98c;
}

.bar-text {
  font-family: monospace;
  color: #1e5945;
  font-weight: bolder;
  font-size: 17px;
}

h3 {
  color:#f7b98c;
  font-family: 'Courier New', Courier, monospace;
}

.cart-item {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.container {
  display: flex;
  /* vertical-align: top; */
  justify-content: space-around;
}

.card {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  height: 350px;
  /* background-color: #ededed; */
  background-color: #1e5945;
  border-radius: 15px;
  line-height: 5px;
  border: 2px solid #f9c8a4;
}

.content {
  display: grid;
  grid-template-columns: fit-content(300px) fit-content(400px) 1fr;
  grid-gap: 10px;
  box-sizing: border-box;
  height: 200px;
  width: 60%;
  padding: 30px;
}

.sidebar {
  padding-top: 30px;
  width: 30%;
  text-align: left;
}

.add-button {
  background-color: #3d9074;
  color: #f7b98c;
  border: 1px solid #f9c8a4;
  border-radius: 5px;
  height: 20px;
  width: 100px;
  font-weight: bold;
}

.add-button:hover {
  background-color: #f7b98c;
  color: #3d9074;
  font-weight: bold;
  transition: 0.2s;
  border: none;
}

.upper-bar {
  background-color: #f9c8a4;
  width: 280px;
  border-radius: 15px;
}

.inner-bar {
  padding: 10px;
}

.cart {
  width: 280px;
  background-color: #1e5945;
  border-radius: 15px;
}

.inner-cart {
  padding: 10px;
  border-radius: 15px;
}

.remove-button {
  background-color: #3d9074;
  color: #f7b98c;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}

.remove-button:hover {
  background-color: #f7b98c;
  color: #3d9074;
  transition: .2s;
}

input[type=checkbox] {
  accent-color: #3d9074;
}

.reset-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #3d9074;
  color: #f7b98c;
  border: none;
  border-radius: 5px;
  height: 25px;
  font-weight: bold;
  border: 2px solid #f7b98c
}

.reset-button:hover {
  background-color: #f7b98c;
  color: #3d9074;
  font-weight: bold;
  transition: 0.2s;
}